.table-container {
  border: 5px solid black;
  padding: 1rem;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 2px solid black;
  padding: 0.5rem;
  text-align: center;
}

thead > tr  {
  border: 5px solid grey;
  padding: 2rem;
  text-align: center;

}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #ddd;
}
